<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyperstore" version="0.102.0.0" targetFramework="net451" />
  <package id="Hyperstore.DomainLanguage" version="0.9.23" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net451" />
</packages>